.calendar-flag-desc {
  border-top: 1px solid black;
  font-size: 0.8em;
  padding: 16px;
}
.calendar-flag {
  border-radius: 50px;
  background-color: #a7ef94;
  width: 34px;
  height: 34px;
  margin-top: 1px;
  padding-bottom: 1px;
}
.calendar-flag-small {
  border-radius: 50px;
  background-color: #a7ef94;
  width: 10px;
  height: 10px;
  margin-right: 8px;
}
.calendar-tile-clickable {
  left: 0;
  top: 0;
}
.bottomleft {
  bottom: 0;
  left: 0;
}
.center-box {
  background-color: white;
  position: relative;
  justify-content: space-between;
  min-height: 430px;
  margin: 0 20px 20px;
  min-width: 340px;
}
.detail-container {
  padding: 10px;
}
.class-card-container {
  width: 90%;
  padding: 10px;
}
.time-card {
  flex: 47%;
  border: 1px solid black;
  padding: 4px;
  color: white;
  background-color: black;
}

.time-card-disabled {
  cursor: not-allowed;
  flex: 47%;
  border: none;
  padding: 4px;
  color: white;
  background-color: #707070;
}

.yesterday-tile {
  width: 34px;
  height: 34px;
  margin-top: 1px;
  padding-bottom: 1px;
  color: #d0d0d0;
}
